.service-container{
    background-color: rgb(234, 245, 242);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}
.service-container:hover{

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s ease-out;
    background-color: rgb(192, 231, 238);
    box-shadow: 10px 10px 15px gray;
}