.testimonials .container{

    background-size: 150px;
}
.testimonials .card{
    border-color: transparent;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}
.testimonials {
    background-color: #0b0516;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.brand-color{
    color: white
}